<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tp2grupo6">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP2Grupo6"
        tools:targetApi="31">
        <activity
            android:name=".Contacto_Lista"
            android:exported="false"
            android:label="EjercicioControles"/>
        <activity
            android:name=".Contacto_Formulario_Extendido"
            android:exported="false"
            android:label="EjercicioControles"/>
        <activity
            android:name=".Contacto_Agregar"
            android:exported="false"
        android:label="EjercicioControles"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="EjercicioControles - Grupo 6">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>